<tr>
     <td><%= check_box_tag "employees[]", employee.id %></td>
     <td><%= image_tag employee.avatar_url(:thumb) if employee.avatar? %></td>
     <td><%= employee.name %></td>
     <td><%= contacts(employee) %></td>
     <td><%= employee.status %></td>
     <td><%= employee.salary %></td>
     <td><%= skills(employee) %></td>
     </td>
     <td><%= link_to '<i class="glyphicon glyphicon-eye-open"></i>'.html_safe, employee, :target => '_blank' %></td> 
     <td><%= link_to '<i class="glyphicon glyphicon-pencil"></i>'.html_safe, edit_employee_path(employee) %></td>
     <td><%= link_to '<i class="glyphicon glyphicon-trash"></i>'.html_safe, employee, method: :delete, data: { confirm: 'Вы уверены?' } %></td>
     <td><%= link_to "Искать работу", :action => "employee_vacancies", :employee => employee.id %></td>
</tr>
