<%= form_for(@employee) do |f| %>
  <% if @employee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

      <ul>
      <% @employee.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "ФИО" %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label "Контакты" %><br>
    <%= f.text_field :contacts %>
  </div>
  <div class="field">
    <%= f.label "Статус" %><br>
    <%= f.text_field :status %>
  </div>
  <div class="field">
    <%= f.label "Зарплата" %><br>
    <%= f.number_field :salary %>
  </div>
  <div class="field">
    <%= f.label "Умения" %><br>
    <%= select_tag "organizing_team", options_from_collection_for_select(Skill.all, 'id', 'name', @employee.skills.map{|j| j.id}), :multiple => true %>
    <%= link_to 'Создать новое умение', new_skill_path %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
