<%= form_for @employee, :html => {:multipart => true} do |f| %>
  <% if @employee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

      <ul>
      <% @employee.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= image_tag(@employee.avatar_url) if @employee.avatar? %>
    <%= f.file_field :avatar %>
    <%= f.hidden_field :avatar_cache %>
    <% if @employee.avatar? %>
      <label>
        Удалить аватар
        <%= f.check_box :remove_avatar %>
      </label>
    <% end %>
  </div>

  <div class="field">
    <%= f.label "ФИО" %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label "Контакты" %><br>
    <%= f.text_field :contacts %>
  </div>
  <div class="field">
    <%= f.label "В поисках" %><br>
    <%= f.radio_button :status, 'yes' %>
    <%= f.label :status, 'Yes', :value => 'yes' %>
    <%= f.radio_button :status, 'no' %>
    <%= f.label :status, 'No', :value => 'no' %>
  </div>
  <div class="field">
    <%= f.label "Зарплата" %><br>
    <%= f.number_field :salary %>
  </div>
  <div class="field">
    <%= f.label "Умения" %><br>
    <div id="skills_modal">
      <%= render "skills_list" %>
    </div>
    <%= link_to 'Создать новое умение', new_skill_path, remote: true, class: 'new_skill' %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
