<h1>Список работников</h1>

<%= form_tag employees_path, :method => :get do %>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag "Поиск по умению", :name => nil %>
<% end %>

<%= form_tag destroy_multiple_employees_path, method: :delete do %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th></th>
        <th></th>
        <th class="col-md-1">ФИО</th>
        <th class="col-md-2">Контакты</th>
        <th class="col-md-1">В поисках</th>
        <th class="col-md-1">Зарплата</th>
        <th class="col-md-7">Умения</th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= render @employees %>
    </tbody>
  </table>
  <%= submit_tag "Delete selected", data: {confirm: 'Are you sure?'} %>|
  <%= link_to 'New Employee', new_employee_path, :class => "btn-xs" %></br>
<% end %>

<%= paginate @employees %>
