<h1>Список работников</h1>

<%= form_tag employees_path, :method => :get do %>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag "Поиск по умению", :name => nil %>
<% end %>

<%= form_tag destroy_multiple_employees_path, method: :delete do %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th></th>
        <th></th>
        <th>ФИО</th>
        <th>Контакты</th>
        <th>В поисках</th>
        <th>Зарплата</th>
        <th>Умения</th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= render @employees %>
    </tbody>
  </table>
  <%= submit_tag "Delete selected", data: {confirm: 'Are you sure?'} %>|
  <%= link_to 'New Employee', new_employee_path %></br>
<% end %>


<%= will_paginate @employees, renderer: BootstrapPagination::Rails, class: "pagination-sm"  %>