<p id="notice"><%= notice %></p>

<p>
  <%= image_tag @employee.avatar_url if @employee.avatar? %>
</p>

<p>
  <strong>ФИО:</strong>
  <%= @employee.name %>
</p>

<p>
  <strong>Контакты:</strong>
  <%= contacts(@employee) %>
</p>

<p>
  <strong>Статус:</strong>
  <%= @employee.status %>
</p>

<p>
  <strong>Зарплата:</strong>
  <%= @employee.salary %>
</p>

<p>
  <strong>Умения:</strong>
  <%= skills(@employee) %>
</p>

<%= link_to 'Edit', edit_employee_path(@employee) %> |
<%= link_to 'Back', employees_path %>
