<%= form_for(@vacancy) do |f| %>
  <% if @vacancy.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vacancy.errors.count, "error") %> prohibited this vacancy from being saved:</h2>

      <ul>
      <% @vacancy.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Название" %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label "Дата создания" %><br>
    <%= f.date_select :date_in %>
  </div>
  <div class="field">
    <%= f.label "Срок действия" %><br>
    <%= f.date_select :date_up %>
  </div>
  <div class="field">
    <%= f.label "Зарплата" %><br>
    <%= f.number_field :salary %>
  </div>
  <div class="field">
    <%= f.label "Контакты" %><br>
    <%= f.text_field :contacts %>
  </div>
  <div class="field">
    <%= f.label "Умения" %><br>
    <%= select_tag "organizing_team", options_from_collection_for_select(Skill.all, 'id', 'name', @vacancy.skills.map{|j| j.id}), :multiple => true %></br>
    <%= link_to 'Создать новое умение', new_skill_path, remote: true, class: 'new_skill' %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
