<h1>Список вакансий</h1>

<%= form_tag vacancies_path, :method => :get do %>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag "Искать по названию", :name => nil %>
<% end %>

<%= form_tag destroy_multiple_vacancies_path, method: :delete do %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th></th>
        <th class="col-md-1">Название</th>
        <th class="col-md-1">Дата создания</th>
        <th class="col-md-1">Срок действия</th>
        <th class="col-md-1">Зарплата</th>
        <th class="col-md-1">Контакты</th>
        <th class="col-md-6">Умения</th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= render @vacancies %>
    </tbody>
  </table>
  <%= submit_tag "Delete selected", data: {confirm: 'Are you sure?'} %>|
  <%= link_to 'New Vacancy', new_vacancy_path %>
<% end %>

<%= paginate @vacancies %>

