<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @vacancy.name %>
</p>

<p>
  <strong>Date in:</strong>
  <%= @vacancy.date_in %>
</p>

<p>
  <strong>Date up:</strong>
  <%= @vacancy.date_up %>
</p>

<p>
  <strong>Salary:</strong>
  <%= @vacancy.salary %>
</p>

<p>
  <strong>Contacts:</strong>
  <%= @vacancy.contacts %>
</p>

<p>
  <strong>Skills:</strong>
  <%= @vacancy.skills %>
</p>

<%= link_to 'Edit', edit_vacancy_path(@vacancy) %> |
<%= link_to 'Back', vacancies_path %>
