<p id="notice"><%= notice %></p>

<p>
  <strong>Название:</strong>
  <%= @vacancy.name %>
</p>

<p>
  <strong>Дата создания:</strong>
  <%= @vacancy.date_in %>
</p>

<p>
  <strong>Срок действия:</strong>
  <%= @vacancy.date_up %>
</p>

<p>
  <strong>Зарплата:</strong>
  <%= @vacancy.salary %>
</p>

<p>
  <strong>Контакты:</strong>
  <%= @vacancy.contacts %>
</p>

<p>
  <strong>Умения:</strong>
  <%= skills(@vacancy) %>
</p>

<%= link_to 'Edit', edit_vacancy_path(@vacancy) %> |
<%= link_to 'Back', vacancies_path %>
