<tr>
  <td><%= check_box_tag "skills[]", skill.id %></td>
  <td><%= skill.id %></td>
  <td><%= skill.name %></td>
  <td><%= link_to '<i class="glyphicon glyphicon-eye-open"></i>'.html_safe, skill %></td>
  <td><%= link_to '<i class="glyphicon glyphicon-pencil"></i>'.html_safe, edit_skill_path(skill) %></td>
  <td><%= link_to '<i class="glyphicon glyphicon-trash"></i>'.html_safe, skill, method: :delete, data: { confirm: 'Умение может использоваться в вакансиях и сотрудниках. Продолжить?' }, remote:true, class: 'delete_skill' %></td>
</tr>
