<%= form_tag destroy_multiple_skills_path, method: :delete do %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th class="col-md-1"><%= check_box_tag "selectAll" %></th>
        <th class="col-md-1">id</th>
        <th class="col-md-5">Название</th>
        <th class="col-md-1"></th>
        <th class="col-md-1"></th>
        <th class="col-md-1"></th>
      </tr>
    </thead>

    <tbody class="skill-modal">  
      <%= render @skills %>
    </tbody>
  </table>
  <%= submit_tag "Delete selected", data: { confirm: 'Умение может использоваться в вакансиях и сотрудниках. Продолжить?' } %>|
  <%= link_to 'New Skill', new_skill_path, remote: true, class: "new_skill" %>
<% end %>


<!--
<%= link_to 'New Skill', new_skill_path, remote: true, class: "new_skill" %>
-->