<h1>Каталог умений</h1>

<%= form_tag destroy_multiple_skills_path, method: :delete do %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th><%= check_box_tag "skills[]", skills_id(@skills) %></th>
        <th>id</th>
        <th>Название</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody class="skill-modal">  
      <%= render @skills %>
    </tbody>
  </table>
  <%= submit_tag "Delete selected", data: { confirm: 'Умение может быть использовано в вакансиях и сотрудниках. Игнорировать?' } %>
<% end %>
<br>

<%= link_to 'New Skill', new_skill_path, remote: true, class: "new_skill" %>
