<h1>Каталог умений</h1>
<%= form_tag skills_path, :method => :get do %>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag "Search", :name => nil %>
<% end %>

<div id="skills">
  <%= render 'skills' %>
</div>

<div id="paginator">
  <%= paginate @skills %></br>
</div>
