<h1>Каталог умений</h1>

<ul id="inline-block">
  <li>
    <%= form_tag skills_path, :method => :get do %>
      <%= text_field_tag :search, params[:search] %>
      <%= submit_tag "Search", :name => nil %>
    <% end %>
  </li> 
</ul>

<%= render 'skills' %>

<div id="paginator">
  <%= paginate @skills %></br>
</div>
