<h1>Каталог умений</h1>
<ul id="inline-block">
  <li>
    <%= form_tag skills_path, :method => :get do %>
      <%= text_field_tag :search, params[:search] %>
      <%= submit_tag "Search", :name => nil %>
    <% end %>
  </li> 
  <li class="to_right">
    Загрузить: <%= link_to "CSV", skills_path(format: "csv") %> |
    <%= link_to "Excel", skills_path(format: "xls") %> 
  </li>
</ul>

<div id="skills">
  <%= render 'skills' %>
</div>

<div id="paginator">
  <%= paginate @skills %></br>
</div>
