<!DOCTYPE html>
<html>
  <head>
    <title>HR</title>
    <%= stylesheet_link_tag 'application', media: 'all',
                                           'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
      </script>
    <![endif]-->
  </head>
  <body>
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
      	<!--<span class= "nav navbar-nav navbar-left">HR</span>-->
        <%= link_to "HR", root_path, class: "nav navbar-nav navbar-left", id: "logo" %>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <% if user_signed_in? %>
              <li><%#= link_to "Home",   root_path %></li>
              <li><%#= link_to "Help",   '#' %></li>
              <li><%= link_to "Работники", employees_path %></li>
              <li><%= link_to "Вакансии", vacancies_path %></li>
              <li><%= link_to "Умения", skills_path %></li>
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown">
                  <i class="glyphicon glyphicon-align-justify"></i>
                </a>
                <ul class="dropdown-menu">
                  <li class="dropdown-header"><%= link_to '<span>Профиль <i class="glyphicon glyphicon-pencil"></i></span>'.html_safe, edit_user_registration_path, class: "btn btn-lg btn-primaty" %></li>
                  <li class="dropdown-header"><%= link_to "Logout", destroy_user_session_path, method: :delete, class: "btn btn-lg btn-primaty" %></li>
                </ul>
            <% else %>
              <li><%= link_to "Вход", new_user_session_path %></li>
              <li><%= link_to "Регистрация", new_user_registration_path %></li>
            <% end %>
          </ul>
        </nav>
      </div>
    </header>
    <div class="container">
      <%= yield %>
    </div>
  </body>

</html>